<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ZTBCMS</title>
    <meta name="description" content="ZTBCMS">
    <meta name="keywords" content="ZTBCMS,PHP,CMS">
    <meta name="author" content="ZTBCMS">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/site.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/axios/0.15.3/axios.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.js"></script>

    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
</head>

<body class="home-template" >
    <div id="app" style="display: none;">
        <header class="site-header jumbotron">
            <div class="site-nav">
                <a href="https://github.com/ztbcms/module" target="_blank">GITHUB</a>
                <span>/</span>
                <a href="http://www.ztbcms.com/">ZTBCMS</a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>ZTBCMS模块汇总</h1>
                        <p>PHP应用开发框架</p>
                        <form class="" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control search clearable" placeholder="搜索，例如：区域" v-model="keyword">
                                <i class="fa fa-close x" @click="cleanKeyword"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <main class="packages-list-container">
            <div class="container">
                <div class="list-group packages" v-for="(item, index) in searchResult" style="position: relative;">
                    <a v-bind:href="item.address" class="package list-group-item" target="_blank">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="package-name">{{ item.modulename }}</h4>
                            </div>
                            <div class="col-md-9 hidden-xs">
                                <p class="package-description">{{ item.introduce }}</p>
                            </div>
                        </div>
                    </a>
                    
                    <div class="zero-clipboard">
                        <select  v-bind:id="'select' + index">
                            <option v-for="v in item.versions" v-bind:value="'https://github.com/ztbcms/' + item.name + '/archive/' + v.version + '.zip'">v{{ v.version }}</option>
                        </select>
                        <button class="btn btn-primary" style="height: 29px;" @click="downloadModule(index)">下载</button>
                    </div>
                    
                </div>
            </div>
        </main>
        <footer id="footer" class="footer hidden-print">
            <div class="copy-right"><span>© 2016-2017</span> <a href="http://www.ztbcms.cn" target="_blank">ZTBCMS</a></div>
        </footer>
        <a href="#" id="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>

</div>


</body>

<script>
    //全局的URL
    var GLOBAL_URL = {
        'data': '/data.json'
    };

    var App = new Vue({
        el: '#app',
        data: {
            keyword: '',
            moduels: [],
        },
        computed: {
            //搜索关键字
            searchResult: function () {
                if (this.keyword == '') {
                    return this.moduels
                }

                var result = []
                var keyword = this.keyword
                this.moduels.forEach(function (item, index) {
                    if (item.modulename.indexOf(keyword) != -1) {
                        result.push(item)
                    }
                })
                return result
            }
        },
        methods: {
            //清空关键字
            cleanKeyword: function () {
                this.keyword = ''
            },
            //下载模块
            downloadModule: function(index){
                var download_url = document.querySelector('#select' + index).value
                window.open(download_url)
            },
            
        },
        mounted: function () {
            document.getElementById('app').style.display = ''
            var that = this;
            axios.get(GLOBAL_URL.data)
                .then(function (response) {
                    that.moduels = response.data
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
       
    });


</script>

</html>